*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.input-news{
    width: 100%;
    padding: 20px 30px;
}
.input-news h2{
    font-size: 34px;
    color: orange;
    letter-spacing: 2px;
}
.input-news h2 span{
    color: aqua;
    border-bottom: 2px solid orange;
}